<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif">
  <h2 style="text-align:center;padding-top:50px;margin: 0">Acta de entrega de productos</h2>
  <h6 style="text-align:center;color: gray; margin: 10px">Fecha: {actaDate}</h6>
  <h4 style="text-align:center;margin:0;color:green">{committee}</h4>

  <table width="100%" style="font-size: 12px;color:#757575; padding: 30px;">
    <thead>
      <tr style="border: 1px solid #757575">
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Unidad</th>
      </tr>
    </thead>
    <tbody>
      {rations}
    </tbody>
  </table>
</body>
</html>
